.navBar {
  background: #6f3263 !important;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding:0 ;
}

body {
  .mgl-15 {
    margin-left: 15px;
  }

  .datepicker__input {
    font-size: 16px;
  }

  .slider {
    position: relative;
    
    .owl-theme .owl-dots {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }

    span[id^=carousel] {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 999;

      > svg {
        stroke: #fff;
      }
    }

    span[id^=carousel_prev] {
      left: 15px;
    }

    span[id^=carousel_next] {
      right: 15px;
    }
  }
}

.v-icon {
  width: 24px;
}

.content {
  .card-header{
    padding-top: 30px;
    background: #fff;
    border-bottom: 0;

    .card-header-tabs{
      justify-content: center;
      margin-bottom: 0;
    }

    .nav-tabs a {
      color: #2c3e50!important;
      font-size: 1rem;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
      border-color: #fff;
      border-bottom: 2px solid #6f3263;
    }

  }

  .vue-map-container {
    min-height: 300px;
    width: 100%;
  }

  .card-body {
    padding: 15px;
  }
  
}

.footer-menu {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  @media (min-width: 769px) {    
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  a {
    padding: 15px;
    color: #000;
  }
}

footer {
  padding:15px 15px;
}

.reviews {
  display: flex;
  align-items: center;

  .vue-star-rating {
    > span {
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }
    }

    .vue-star-rating-rating-text:after {
      display: inline-block;
      content: "Reviews";
      margin-left: 5px;
    }
  }
}

.btn-custom1 {
  background: #6f3263 !important;
  color: #fff;
  border-radius: 30px;
  border: none; 
  padding: 15px 30px;
  border-radius: 30px;
}

.btn-custom2 {
  box-sizing: border-box;
  background: #0249a5 !important; color: #fff; border-radius: 30px; border: none; padding: 15px 30px; border-radius: 30px;
}

svg {
  .cls-1 {
    fill: #cce1f8;
  }

  .cls-2 {
    fill: none;
    stroke: #364353;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
  }
}

@media (max-width: 768px) {
  .content .card-header .nav-tabs a {
    padding: 0 5px;
  }
}