.list-view{
  padding: 0 0;

  header {
    padding-bottom: 60px;
  }

  .filter{
    width: 100%;
    padding: 15px;
    background: #f8f8f8;
    .filter-ctn{
      padding: 15px;
      background: #fff;
      border-radius: 10px;
      .location{
        position: relative;
        button{
          background: none;
          border: none;
          color: #000;
          position: absolute;
          left: 5px;
          top: 5px;
          padding: 0;
          .icon-search{
            width: 20px;
          }
        }
        input{
          border: none;
          border-bottom: 1px solid #ddd;
          margin-bottom: 10px;
          border-radius: 0;
          width: 100%;
          padding-left: 35px;
        }
      }
      .guests{
        position: relative;
        margin-top: 15px;
        .icon-users{
          position: absolute;
          width: 20px;
          left: 5px;
          top: 5px;
        }
        input{
          border: none;
          border-bottom: 1px solid #ddd;
          margin-bottom: 10px;
          border-radius: 0;
          width: 100%;
          padding-left: 35px;
        }
      }
      .datepicker__dummy-wrapper{
        border: none;
        border-bottom: 1px solid #ddd;
      }
    }
  }
  .tabs-show{
    .tabs{
      div{
        overflow: hidden;
        text-align: center;
      }
      .tab-content{
        text-align: left;
        width: 100%;
        margin: 0 auto;
        div{
          text-align: left;
        }
        .alert-info{
          background: #fff;
          border-color: #ddd;
          color: #333;
          p{
            display: inline-block;
            margin-left: 7px;
          }
        }
      }
    }
    .nav-tabs{
      border: none;
      display: inline-flex !important;
      margin: 0 auto;
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
      text-align: center;
      width: 100%;
      padding: 15px;
      .nav-item{
        width: 50%;
        a{
          border: none;
          color: #000;
        }
        &:first-child{
          a{
            border-right: 1px solid #ddd;
          }
        }
      }
    }
  }
  .list-ctn{
    .list-item{
      margin: 0 auto 30px;
      display: block;

      @media (min-width: 768px) {
        display: flex;
      }

      .item-image{
        flex: 1 0 100%;
        position: relative;

        @media (min-width: 768px) {
          max-width: 50%;
          flex: 1 0 50%;
        }

        @media (min-width: 992px) {
          max-width: 30%;
          flex: 1 0 30%;
        }

        .btn-icon {
          position: absolute;
          bottom: 10px;
          left: 0;
          background: #fff;
          cursor: pointer;

          &:hover {
            box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
          }
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: static;

          @media (min-width: 768px) {
            position: absolute;
          }
        }
      }
      .item-info{

        flex: 1 0 100%;
        @media (min-width: 768px) {
          max-width: 50%;
          flex: 1 0 50%;
        }

        @media (min-width: 992px) {
          max-width: 70%;
          flex: 1 0 70%;
        }
        
        .info-product{
          padding: 15px;
          background: #fff;
          .title{
            margin-bottom: 7px;
            svg{
              width: 20px;
            }
            span{
              font-size: 13px;
               color: #666;
            }
          }
          h3{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 7px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .address{
            font-size: 13px;
            color: #666;
            margin-bottom: 5px;
          }
          .location{
            font-size: 13px;
            color: #666;
            margin-bottom: 5px;
            svg{
              width: 15px;
              color: #ff9800;
            }
          }
          .chips{
            font-weight: normal;
            .badge{
              margin-right: 7px;
              font-weight: normal;
            }
          }
        }

        .info-price{
          background: #f8f8f8f8;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          font-size: 14px;

          .price-part {
            vertical-align: bottom;

            h3 {
              font-size: 14px;
              font-weight: 700;
               margin: 0;
              color: #219587
            }

            strong {
              font-size: 18px;
              margin-right: 5px;
            }
          }

          .vue-star-rating {
            display: inline-block;
            margin-right: 5px;
            
            .vue-star-rating-rating-text {
              display: none;
            }
          }

          .price-review {
            h3 {
              font-weight: 400;
              font-size: 14px;
              margin: 0;
            }
          }

          .review-count {
            font-size: 14px;
          }
        }
      }
    }
  }
}