h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
/* ============== */
.social{
  width: 100%;
  text-align: right;
}
.btn-icon{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-left: 10px;
}
.content{
  padding: 50px 30px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-top: 15px;
}
.ft-left{
  text-align: left;
}
.ft-left svg{
  width: 35px;
  height: 35px;
}
.vue-star-rating-star{
  width: 35px;
  height: 35px;
}
.reviews{
  width: 100%;
  display: inline-block;
  text-align: left;
}
#modal1 .modal-dialog{
  width: 50% !important;
  max-width: none !important;
  overflow: hidden;
  height: auto !important;
  /* display: inline-block; */
}
.modal-dialog{
  width: 50% !important;
}
.pricing{
  text-align: center;
  margin-top: 60px;
}
.pricing >div{
  display: inline-block;
  width: 200px;
  margin: 15px;
}
.pricing .guests{
  display: block;
  width: 430px;
  margin: 15px auto;
  text-align: left;
}
.pricing .hotel-date-picker{
  width: 430px;
  margin: 15px auto;
  
}
.pricing .book-now{
  display: block;
  width: 430px;
  margin: 15px auto;
  text-align: left;
  margin-top: 60px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.text-charged{
  width: 100%;
  color: #cc3b30;
  text-align: right;
}
.content{
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
.pricing .user{
  overflow: hidden;
  text-align: left;
  width: 430px;
}
.user .user-name{
  height: 120px;
  align-items: center;
   display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  /* width: 180px; */
  float: left;
}
.user .user-avatar{
  width: 120px;
  height: 120px;
  float: left;
  margin-right: 30px;
}
.footer{
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
.footer >p{
  text-align: center;
  width: 100%;
  margin: 0;
}