/* ============== */
.social{
  width: 100%;
  text-align: right;
}
.btn-icon{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;

  > svg {
    width: 100%;
    vertical-align: top;
  }
}

.modal-dialog{
  @media (min-width: 992px) {
    width: 50% !important;
  }
}

.pricing .book-now{
  display: block;
  width: 430px;
  margin: 15px auto;
  text-align: left;
  margin-top: 60px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.text-charged{
  text-align: center;
}

.user-ask {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50px;
  }
}

.user-name {
  a {
    margin-left: 15px;
    color: #6f3263 ;
  }
}