.search{
  .filter{
    padding: 60px 15px;
    background: url('~@/assets/img/bg.jpg') no-repeat center center;
    background-size: cover;

    @media (min-width: 992px) {
      padding: 200px 15px;
    }
  }

  .filter-form {
    padding: 15px 15px 0;
    border-radius: 5px;
    
    .datepicker__wrapper {
      border-radius: 5px;
      display: block;

      .datepicker__dummy-wrapper {
        border-radius: 5px;
      }

      .datepicker__input {
        padding: 0 15px;
      }
    }

    .form-control {
      padding: 0 10px;
      height: 48px;
      line-height: 46px;
    }

    .btn-custom2 {
      padding: 0 15px;
      line-height: 48px;
    }
  }

  .filter-alert {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0,0,0,.08);
  }
}

.bg-white-gray {
  background: rgba(0,0,0,.2);
}

.info-section {
  padding: 50px 15px;
  width: 100%;
  margin: 0 auto;
  @media (min-width: 992px) {
    max-width: 80%;    
  }

  .item {
    margin-bottom: 30px;

    .v-icon {
      margin-bottom: 15px;
      height: 30px;
      width: 30px
    }

    .item-content {
      h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 0;     
      }

      p {
        font-size: 14px;
        line-height: 22px;
        margin: 0;
      }
    }

    @media (max-width: 991px) {
      display: flex;
      align-items: center;

      .v-icon {
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }
}