.list-result{
  padding: 30px 0;
}
.result-item{
  padding: 15px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.item-left{
  width: 60px;
  float: left;
}
.item-right{
  float: left;
}
.item-right h3{
  font-size: 14px;
  font-weight: bold;
}
.item-right p{
  margin: 0;
  font-size: 13px;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.search{
  width: 100%;
  overflow: hidden;
}
.filter{
  padding: 60px 15px 60px 15px;
  background: #eaeaea;
  overflow: hidden;
}
.filter-input{
  width: 100%;
  /* overflow: hidden; */
}
.width-100{
  width: 100%;
}
.width-50-l{
  width: 49%;
  /* margin-right: 2%; */
  float: left;
}
.width-50-r{
  width: 49%;
  /* margin-left: 2%; */
  float: right;
}
.mb-15{
  margin-bottom: 15px;
}